<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <!--    <div mat-card-avatar class="example-header-image"></div>-->
    <img mat-card-avatar
         src="https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671116.jpg?w=740&t=st=1722828259~exp=1722828859~hmac=b48047a96f239cd0dcfd5283e9a5d5c8698447604f3ee6090e26171025c79744"
         alt="">
    <mat-card-title>{{recipe.user.fullName}}</mat-card-title>
    <mat-card-subtitle>&#64;vinicius_santos</mat-card-subtitle>
  </mat-card-header>
<!--  src="https://images.pexels.com/photos/1653877/pexels-photo-1653877.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"-->
  <img class="max-h-[400px] object-cover" mat-card-image
       [src]="recipe.image"
       alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{recipe.description}}
    </p>
  </mat-card-content>

  <mat-card-actions class="flex justify-between">
    <div>
      <button mat-icon-button aria-label="Example icon button with a home icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button (click)="handleOpenEditRecipeForm()"
        mat-icon-button aria-label="Example icon button with a home icon">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon button with a home icon">
        <mat-icon>share</mat-icon>
      </button>
    </div>
    <div>
      <button (click)="handleDeleteRecipe()" mat-icon-button aria-label="Example icon button with a home icon">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-actions>

</mat-card>
