<p>
  <mat-toolbar class="flex items-center justify-between " color="primary">
    <div>
      <!--        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
      <!--          <mat-icon>menu</mat-icon>-->
      <!--        </button>-->
      <span>My App</span>
    </div>
    <div>
      <span class="example-spacer"></span>

      <button mat-button
      (click)="handleLogOut()"
      >
        {{user?.fullName}}
      </button>
    </div>


  </mat-toolbar>

</p>
